<a href="https://colab.research.google.com/github/cjfghk5697/Pandas_Practice/blob/main/BasicFunction2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>판다스 활용 2번째</h1>
데이터 프레임의 null 여부 확인

In [3]:
import numpy as np
import pandas as pd

word_dict={
    'Apple':'사과',
    'Banana':'바나나',
    'Carrot':'당근',
    'Durian':'두리안'
}
frequency_dict={
    'Apple':3,
    'Banana':5,
    'Carrot': np.nan,
    'Durian':2

}
importance_dict={
    'Apple':3,
    'Banana':2,
    'Carrot':1,
    'Durian':1
}

word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)
importance = pd.Series(importance_dict)

summary=pd.DataFrame({
    'word':word,
    'frequency':frequency,
    'importance':importance
})

print(summary)
print(summary.notnull())
print(summary.isnull())
summary['frequency']=summary['frequency'].fillna('데이터없음')
print(summary)

       word  frequency  importance
Apple    사과        3.0           3
Banana  바나나        5.0           2
Carrot   당근        NaN           1
Durian  두리안        2.0           1
        word  frequency  importance
Apple   True       True        True
Banana  True       True        True
Carrot  True      False        True
Durian  True       True        True
         word  frequency  importance
Apple   False      False       False
Banana  False      False       False
Carrot  False       True       False
Durian  False      False       False
       word frequency  importance
Apple    사과         3           3
Banana  바나나         5           2
Carrot   당근     데이터없음           1
Durian  두리안         2           1

<h1>문법 설명</h1>
pd.series()는 시리즈형으로 바꿔준다. DataFrame은 여러 시리즈를 하나의 데이터 프레임으로 만든다. notnull은 null이 아닌 것들은 true 반대는 false를 출력한다.  isnull은 그 반대다. 
<br> <br>
fillna는 summary 데이터프레임에 null 값인것에 '데이터없음'을 넣는다.

<h1>시리즈 자료형의 연산</h1>
여기서 주목할 포인트는 단 하나다. add(array2, fill_value=0)이다. add를 이용해 시리즈를 더했다. B인덱스는 2개의 값을 가지고 있었는데 두개를 합쳐 6으로 되었다. 그리고 fill_value=0은 결측값에 0을 넣겠다는 것이다. 만약에 fill_value='NA'를 하면 'NA' 라는 str형을 넣는다.

In [4]:
import pandas as pd
array1=pd.Series([1,2,3], index=['A','B','C'])
array2=pd.Series([4,5,6], index=['B','C','D'])

array1=array1.add(array2, fill_value=0)
print(array1)

A    1.0
B    6.0
C    8.0
D    6.0
dtype: float64

좀더 심화해보자.

In [6]:
import pandas as pd
array1=pd.DataFrame([[1,2],[3,4]], index=['A','B'])
array2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], index=['B','C','D'])

print(array1)
print(array2)

array1=array1.add(array2, fill_value=0)
print(array1)

   0  1
A  1  2
B  3  4
   0  1  2
B  1  2  3
C  4  5  6
D  7  8  9
     0    1    2
A  1.0  2.0  NaN
B  4.0  6.0  3.0
C  4.0  5.0  6.0
D  7.0  8.0  9.0

보면 series형에서 DataFrame형으로 바꿔 다차원 배열 같이 만들었다.

<h1>데이터 프레임 집계함수</h1>

In [7]:
import pandas as pd
array1=pd.DataFrame([[1,2],[3,4]], index=['A','B'])
array2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], index=['B','C','D'])



array1=array1.add(array2, fill_value=0)
print(array1)
print("칼럼 1의 합:", array1[1].sum())
print(array1.sum())

     0    1    2
A  1.0  2.0  NaN
B  4.0  6.0  3.0
C  4.0  5.0  6.0
D  7.0  8.0  9.0
칼럼 1의 합: 21.0
0    16.0
1    21.0
2    18.0
dtype: float64

array1[1].sum()이 중요한 포인트이다.

<h1>데이터 프레임의 정렬 함수</h1>

In [8]:
import numpy as np
import pandas as pd

word_dict={
    'Apple':'사과',
    'Banana':'바나나',
    'Carrot':'당근',
    'Durian':'두리안'
}
frequency_dict={
    'Apple':3,
    'Banana':5,
    'Carrot':1,
    'Durian':2

}
importance_dict={
    'Apple':3,
    'Banana':2,
    'Carrot':1,
    'Durian':1
}

word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)
importance = pd.Series(importance_dict)

summary=pd.DataFrame({
    'word':word,
    'frequency':frequency,
    'importance':importance
})
summary=summary.sort_values('frequency',ascending=False)
print(summary)

       word  frequency  importance
Banana  바나나          5           2
Apple    사과          3           3
Durian  두리안          2           1
Carrot   당근          1           1

위에 보면 frequency를 내림차순으로 정렬한 것을 볼수 있다.