<a href="https://colab.research.google.com/github/cjfghk5697/Pandas_Practice/blob/main/BasicFunction3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>판다스 활용 3(이미지 처리 중심)</h1>

In [3]:
import numpy as np
import pandas as pd

df=pd.DataFrame(np.random.randint(1,10,(2,2)),index=[0,1], columns=["A","B"])

#데이터 프레임 출력하기
print(df)
#컬럼 A의 각 원소가 5보다 작거나 같은지 출력
print(df["A"]<=5)
#컬럼 A의 원소가 5보다 작고, 컬럼 B의 원소가 8보다 작은 행 추출
print(df.query("A<=5 and B<=8"))

   A  B
0  7  8
1  5  1
0    False
1     True
Name: A, dtype: bool
   A  B
1  5  1

위 코드는 데이터 프레임의 마스킹이다. df["A"]는 데이터 프레임에서 5보다 작거나 같은지 출력한다. query는 쿼리문 안에 있는 문장 그대로 5보다 작은 A, 8보다 작은 B 컬럼을 추출한다.
<h1>데이터 프레임의 개별 연산</h1>

In [4]:
import pandas as pd
df=pd.DataFrame([[1,2,3,4],[1,2,3,4]],index=[0,1],columns=["A","B","C","D"])
print(df)
df=df.apply(lambda x: x+1)
print(df)

def addOne(x):
  return x+1
df= df.apply(addOne)
print(df)

   A  B  C  D
0  1  2  3  4
1  1  2  3  4
   A  B  C  D
0  2  3  4  5
1  2  3  4  5
   A  B  C  D
0  3  4  5  6
1  3  4  5  6

df.apply(lambda x: x+1)과 apply(addOne) 모두 데이터 프레임에 1을 더할 수 있다.

In [5]:
import pandas as pd

df= pd.DataFrame([
                  ['Apple','Apple','Carrot', 'Banana'],
                  ['Durian','Banana','Apple','Carrot']],
                  index=[0,1],
                  columns=["A","B","C","D"])
print(df)
df= df.replace({"Apple":"Airport"})
print(df)

        A       B       C       D
0   Apple   Apple  Carrot  Banana
1  Durian  Banana   Apple  Carrot
         A        B        C       D
0  Airport  Airport   Carrot  Banana
1   Durian   Banana  Airport  Carrot

df.replace로 Apple을 모두 Airport로 바꿀 수 있다. 한마디로 대체가 가능하다.

In [7]:
import pandas as pd

df= pd.DataFrame([
                  ['Apple',7,'Fruit'],
                  ['Banana',3,'Fruit'],
                  ['Beef',5,'Meal'],
                  ['Kimchi',4,'Meal']],
                 columns=["Name", "Frequency","Type"])
print(df)
print(df.groupby(['Type']).sum())

     Name  Frequency   Type
0   Apple          7  Fruit
1  Banana          3  Fruit
2    Beef          5   Meal
3  Kimchi          4   Meal
       Frequency
Type
Fruit         10
Meal           9

groupby(type)에서 같은 타입인 애들을 묶는다. 그다음 frequency를 더한다.

In [8]:
import numpy as np
import pandas as pd

df= pd.DataFrame([
                  ['Apple',7,5,'Fruit'],
                  ['Banana',3,6,'Fruit'],
                  ['Beef',5,2,'Meal'],
                  ['Kimchi',4,8,'Meal']],
                 columns=["Name", "Frequency", "Importance","Type"])
print(df)
print(df.groupby(['Type']).aggregate([min,max,np.average]))

     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit
2    Beef          5           2   Meal
3  Kimchi          4           8   Meal
      Frequency             Importance
            min max average        min max average
Type
Fruit         3   7     5.0          5   6     5.5
Meal          4   5     4.5          2   8     5.0

잘본다면 이번에는 importance가 추가 되었다. 그리고 aggregate로 최소 최대 평균 값을 구할 수 있다.

In [9]:
import pandas as pd

df= pd.DataFrame([
                  ['Apple',7,5,'Fruit'],
                  ['Banana',3,6,'Fruit'],
                  ['Beef',5,2,'Meal'],
                  ['Kimchi',4,8,'Meal']],
                 columns=["Name", "Frequency", "Importance","Type"])

def my_filter(data):
  return data["Frequency"].mean()>=5
df=df.groupby("Type").filter(my_filter)
print(df)

     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit

이번에는 Frequency 평균이 5 이상인 것들을 가져왔다. Meal 타입 평균은 5를 못넘어서 출력되지 않았다.

In [10]:
import pandas as pd

df= pd.DataFrame([
                  ['Apple',7,5,'Fruit'],
                  ['Banana',3,6,'Fruit'],
                  ['Beef',5,2,'Meal'],
                  ['Kimchi',4,8,'Meal']],
                 columns=["Name", "Frequency", "Importance","Type"])

df=df.groupby("Type").get_group("Fruit")
print(df)

     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit

fruit 그룹만 모아서 출력했다.

In [11]:
import pandas as pd

df= pd.DataFrame([
                  ['Apple',7,5,'Fruit'],
                  ['Banana',3,6,'Fruit'],
                  ['Beef',5,2,'Meal'],
                  ['Kimchi',4,8,'Meal']],
                 columns=["Name", "Frequency", "Importance","Type"])

df["Gap"]=df.groupby("Type")["Frequency"].apply(lambda x: x-x.mean())
print(df)

     Name  Frequency  Importance   Type  Gap
0   Apple          7           5  Fruit  2.0
1  Banana          3           6  Fruit -2.0
2    Beef          5           2   Meal  0.5
3  Kimchi          4           8   Meal -0.5

각 tpye meal과 fruit의 frequency 평균을 구해 각자 frequency에 뺀것이다. apply(lambda x:x-x.mean)으로 모든 값에 평균을 뺏다. 그렇게해서 gap이라는 별게의 컬럼에 저장했다.

In [13]:
import pandas as pd
import numpy as np
df= pd.DataFrame(
    np.random.randint(1,10,(4,4)),
    index=[['1차','1차','2차','2차'],['공격','수비','공격','수비']],
    columns=['1회','2회','3회','4회']
)

print(df)
print(df[["1회","2회"]].loc["2차"])

       1회  2회  3회  4회
1차 공격   7   1   2   1
   수비   2   2   2   4
2차 공격   2   5   4   7
   수비   7   9   3   4
    1회  2회
공격   2   5
수비   7   9

데이터 프레임의 다중화이다.

In [16]:
import pandas as pd
import numpy as np
df= pd.DataFrame([
                  ['Apple',7,5,'Fruit'],
                  ['Banana',3,6,'Fruit'],
                  ['Coconut',2,6,'Fruit'],
                  ['Rice',8,2,'Meal'],
                  ['Beef',5,2,'Meal'],
                  ['Kimchi',4,8,'Meal']],
                 columns=["Name", "Frequency", "Importance","Type"])

df=df.pivot_table(
    index="Importance",columns="Type",values="Frequency",
    aggfunc=np.max
)

print(df)

Type        Fruit  Meal
Importance
2             NaN   8.0
5             7.0   NaN
6             3.0   NaN
8             NaN   4.0

 데이터를 요약하는 피벗테이블의 기초이다. 중요도에 따라 팔리는 주기를 볼 수 있다.